<launch>
	<!-- ========================================================== -->
	<!-- 						Launch MC DAQ           			-->
	<!-- ========================================================== -->

	<node name="ReadAI"    		pkg="mcdaq"   	type="ReadAI.py"  			required="true" />

	<rosparam param="mcdaq/AI_channels" > [0,1] </rosparam>

</launch>